@{
    ViewData["Title"] = "Home Page";

    string  ItemBuscar= "Buscar Por";
    List<string> BuscarPor=new List<string>{"DNI","Protocolo","Fecha"};
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos al Nuevo Labsys</h1>
    <h4>Administre su Laboratorio desde aqui, sin perder ningun detalle</h4>
    <div class="container" id="botonera">
        <div class="btn-group">
            <a class="btn btn-primary">Active link</a>
            <a class="btn btn-primary">Link</a>
            <a class="btn btn-primary">Link</a>
        </div>
    </div>
</div>




